* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #fff;
  color: #555;
  font-family: "Lato", "Arial";
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

.row {
  max-width: 1140px;
  margin: 0;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("hero.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 240%;
  font-weight: 300;
  letter-spacing: 1px;
  word-spacing: 1px;
}

.hero-text-box {
  position: relative;
  top: 50%;
  left: 50%;
  width: 1140px;
  transform: translate(-50%, -50%);
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  color: #fff;
  transition: background-color 0.5s, border 2s, color 2s;
}

.btn:hover {
  background-color: #cf6d17;
}

.btn-full {
  background-color: orange;
  border: 1px solid orange;
  margin-right: 15px;
}

.btn-ghost {
  border: 1px solid orange;
  color: white;
}

.logo {
  height: 100px;
  width: auto;
  float: left;
  margin-top: 10px;
}

.main-nav {
  float: right;
  list-style: none;
  margin-top: 40px;
}

.main-nav li {
  display: inline-block;
  margin-left: 30px;
}

.main-nav li a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 80%;
}

.main-nav li a:hover {
  border-bottom: 2px solid orange;
  padding: 10px 0px;
}

h2 {
  text-transform: uppercase;
  font-size: 180%;
  text-align: center;
}

.paraClass {
  width: 70%;
  line-height: 145%;
  margin-left: 15%;
  background-color: #cf6d17;
  height: 1px;
}

.zero {
  padding: 60px 15px;
  text-align: center;
  width: 1500px;
}
.first {
  margin-top: 5px;
  width: 300px;
  height: 100px;
  letter-spacing: 1px;
  word-spacing: 5px;
  box-sizing: border-box;
  box-shadow: orange;
  margin-left: 10px;
}

.second {
  margin-top: -100px;
  position: absolute;
  left: 400px;
  width: 300px;
  height: 100px;
  letter-spacing: 1px;
  word-spacing: 5px;
  box-sizing: border-box;
}

.third {
  margin-top: -100px;
  position: absolute;
  left: 800px;
  width: 300px;
  height: 100px;
  letter-spacing: 1px;
  word-spacing: 5px;
  box-sizing: border-box;
}

.fourth {
  margin-top: -100px;
  position: absolute;
  left: 1200px;
  width: 300spx;
  height: 100px;
  letter-spacing: 1px;
  word-spacing: 5px;
  box-sizing: border-box;
}

.meals-showcase {
  list-style: none;
  width: 100%;
  padding: 0;
  margin-top: 170px;
}

.meals-showcase li {
  display: block;
  float: left;
  width: 25%;
}

.meals-photos {
  width: 100%;
  margin: 0px;
  overflow: hidden;
  background-color: black;
}

.meals-photos img {
  opacity: 0.7;
  height: auto;
  width: 100%;
  transform: scale(1.15);
  transition: transform 0.5s opacity 0.5s;
}

.meals-photos img:hover {
  transform: scale(1.03);
  opacity: 1;
}

.section-steps {
  margin-top: 700px;
  padding: 100px;
}

.PhonePic {
  height: 200px;
}
